@import '_settings'

normalize-css()
base()

body
  padding: 0
  background: silver

.header
  background: white
  padding: 20px
  .header-content
    max-width: 700px
    margin: 0 auto
  p
    margin: 0 auto
    letter-spacing: 2px
    font-weight: bold
    color: black

.cover
  padding: 50px

.cover-content
  max-width: 700px
  margin: 0 auto
  display: flex;

.cover__image
  align-self: center
  max-width: 40%
h1
  margin: 0 auto
  color: tomato

.blog-post
  list-style-type: none

.index__post-image
  width: 100%

.blog-post__container {
  max-width: 500px
  padding: 0
  margin: 0 auto
}
